// @import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    font-family: 'Rubik', sans-serif;
    // background-color: brown;
}

// https://binarapps.com/blog/fout-with-web-font-loader/
:global(.wf-loading) {
    background: url('../images/spinner.gif') no-repeat center center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

:global(.wf-active) *,
:global(.wf-inactive) * {
    // -webkit-transition: opacity 1s ease-out;
    // -moz-transition: opacity 1s ease-out;
    // -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}
